<!-- Ion-tabs rendered only when UIService says to show -->
<div id="app-shared-tab" class="shared-tab" *ngIf="showTabs$ | async">
  <ion-tabs>
    <ion-tab-bar slot="bottom" style="background: var(#fff) !important; background-color: white">
      <ion-tab-button routerLink="/home">
        <ion-icon name="home"></ion-icon>
        <ion-label>{{ (lang$ | async) === 'TC' ? ' 主頁 ' : 'Home' }}</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/search">
        <ion-icon name="search"></ion-icon>
        <ion-label>{{ (lang$ | async) === 'TC' ? ' 搜尋 ' : 'Search' }}</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/account">
        <ion-icon name="person"></ion-icon>
        <ion-label>{{ (lang$ | async) === 'TC' ? ' 帳戶 ' : 'Account' }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>