/* Basic styling for shared header */
.shared-header {
  --ion-toolbar-background: var(--ion-color-primary);
  padding-bottom: env(safe-area-inset-bottom);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.05vw;
  padding: 0.005vw 0.1vh !important;
  scroll-padding-top: 0px !important;
  scroll-margin-top: 0px !important;
  top: 1px !important;
  z-index: 1 !important;
}

.header-start,
.header-end {
  display: flex;
  align-items: center;
}

.brand-title {
  /* centre the brand image/title content */
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; /* allow centre title to grow */
  text-align: center;
}

.brand-img {
  height: 10vw;
  width: 10vw;
  max-height: 67px;
  max-width: 67px;
}

.toolbar-title {
  /* Centre content horizontally. Because we have start & end slots, using flex layout helps. */
  flex: 1;
  text-align: center;
  margin: 0 auto;
  padding-right: 3rem; /* to offset the end slot */
}

.nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  color: var(--ion-color-light);
  font-size: 0.9rem;
}

.lang-btn, .lang-toggle, button {
  color: var(--ion-text-color);
  margin-left: 0rem;
  border: 1px solid var(--ion-color-medium);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.theme-btn {
  margin-left: 1rem;
  background: var(--ion-color-light);
  border: 1px solid var(--ion-color-medium);
  padding: 0.3rem 0.6rem;
  font-family: 'Arial Unicode MS', sans-serif;
  min-width: 3rem;
  cursor: pointer;
}