<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Email/Password Form -->
  <form (ngSubmit)="onSubmitEmail()" #emailForm="ngForm">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">{{ isLoginMode ? 'Login' : 'Register' }}</ion-button>
  </form>

  <ion-item lines="none">
    <ion-label>
      <ion-toggle [(ngModel)]="isLoginMode" name="toggleMode"></ion-toggle>
      <ion-text>{{ isLoginMode ? 'Switch to Register' : 'Switch to Login' }}</ion-text>
    </ion-label>
  </ion-item>

  <ion-item lines="none" class="ion-margin-top">
    <ion-button expand="block" color="tertiary" (click)="onGoogleSignIn()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Sign in with Google
    </ion-button>
  </ion-item>

  <ion-text color="danger" *ngIf="errorMessage">
    <p class="ion-text-center">{{ errorMessage }}</p>
  </ion-text>

</ion-content>